/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
    --color-black: #000;
    --color-light: #fff;
    --color-main: #4A6572;
    --color-accent:#667B86;
}

body {
    font-family: 'inter', sans-serif;
    background-color: var(--color-main);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-accent);
    
}

.logo {
    display: flex;
    align-items: center;
    margin: 25px;
    padding: 17px;
    gap: 15px;
    background-color: var(--color-light);
    border-radius: 20px;
}

.logo_name {
    font-weight: 700;
    font-size: 24px;
}

.nav {
    display: flex;
    align-items: center;
    margin: 25px;
}
.nav_list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.nav_item {
    background-color: var(--color-light);
    font-size: 500;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
}
/* Основаная часть */
.main {
    margin: 28px;
}
.main_card {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    height: 850px;
    border-radius: 60px;
}
.main_my_photo {
    border-radius: 80px;
    width: 490px;
    height: 490px;
}

.main_about {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
}

.main_save_rez {
    color: var(--color-light);
    font-weight: 500;
    background-color: var(--color-accent);
    padding: 20px 32px;
    border-radius: 20px;
    border: none;
}

.main_card_2 {
  display: flex;
  justify-content: space-between;
}

.skills_title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 250px;
    margin-top: 20px;
    
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill span {
    font-size: 22px;
    color: var(--color-light);
    font-weight: 600;
}

.skill-line {
    width: 100%;
    height: 14px;
    background-color: var(--color-light);
    border-radius: 10px;
    overflow: hidden;
}

.skill-line div {
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 10px;
}


@media (max-width: 1400px){
    .main_my_photo {
        width: 400px;
        height: 400px;
    }
    .main_about {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
    }
    .nemov {
        width: 348px;
        height: 715px;
    }
}

@media (max-width: 1100px) {
    .main_my_photo {
        width: 350px;
        height: 350px;
    }
    .main_about {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
    }
    .main_save_rez {
        color: var(--color-light);
        font-weight: 500;
        background-color: var(--color-accent);
        padding: 20px 32px;
        border-radius: 20px;
        border: none;
    }

    .nemov {
        width: 256px;
        height: 528px;
    }
    .skills_title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
      color: var(--color-light);
      margin-bottom: 80px;
      margin-top: 20px;
    }
}

@media (max-width: 940px) {
    .header {
        flex-wrap: wrap;
        margin: 0px;
    }
    .main_my_photo {
        width: 350px;
        height: 350px;
    }
    .main_about {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
    }
    .main_save_rez {
        color: var(--color-light);
        font-weight: 500;
        background-color: var(--color-accent);
        padding: 20px 32px;
        border-radius: 20px;
        border: none;
    }
    .main_card {
        background-color: var(--color-light);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        height: 850px;
        border-radius: 60px;
    }
    .main_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nemov {
        display: none;
    }
    .main_card_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}